/* For Safari 5.1 to 10.0 */
.containerForm::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 12px;
}

/* For Safari 5.1 to 10.0 */
.containerForm::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* For Safari 10.0+ */
/* Show the scrollbar continuously */
.containerForm::-webkit-scrollbar {
  display: block !important;
}

/* For Safari 10.0+ */
/* Customize the scrollbar track and thumb */
.containerForm::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

.containerForm::-webkit-scrollbar-thumb {
  background-color: #888;
}

.customDateRangePicker {
  border: 2px solid #2476d2;
  padding: 10px;
  border-radius: 10px;
  color: #2476d2;
  background-color: white;
  cursor: pointer;
  width: 490px;
}
