.calendarEditor table, .calendarEditor
td,
.calendarEditor th {
  border: 1px solid #e0e0e0;
}
.calendarEditor {
  padding: 10px;
}
.calendarEditor table {
  width: 100%;
  border-collapse: collapse;
}
.calendarEditor tbody {
  font-size: 12px;
}
.calendarEditor td {
  height: 50px;
}

.calendarEditor .status {
  height:30px;
  max-height: 25px;
  padding: 0px;
}
.value td {
  min-width: 50px;
  text-align: center;
}
.value .status {
  padding-left: 0px;
  padding-right: 0px;
}

.SelectableCell {
  padding: 10px;
}

.hyperlinkAIOLIA {
  text-decoration: none !important;
}
.yellowAIOLIA {
  color: #daae10;
}
.boldAIOLIA {
  font-weight: 900;
}

.boldSocieteGenerale {
  font-size: 18px;
  font-weight: 900;
}

.headerLegalNotice {
  color: #10306e;
}

.h2LegalNotice {
  color: #10306e;
  font-size: 22px;
}

.listLegalNotice > li {
  margin-left: 18px;
}
