.chart-container {
  padding: 50px;
  border-radius: 5%;
}
.containerLine {
  width: 100%;
  margin: 20px;
  display: flex;
}
.containerLine > div {
  margin: 0px 10px !important;
}
.revenueChart {
  width: 60%;
}